menu {
    margin: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: #171a1d;
    position: relative;
}

.logout-button {
    background-color: #2F8886;
    color: white;
    border: unset;
    width: 100%;
    padding: .5rem 0;
    border-radius: .375rem;
}

.logout-button:hover {
    background-color: #84C69B;
}

menu::after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #171a1d;
    content: "";
    width: 100%;
    height: 100vh;
}

.menu-wrapper {
    position: sticky;
    top: 1rem;
}

.exit-button {
    display: none;
}



p.menu-title {
    text-align: center;
    background-color: #3d434d;
    padding: 2rem;
    border-radius: .7rem;
    color: rgb(18, 214, 221)!important;
    font-family: 'Raleway', sans-serif!important;
}

li {
    margin-bottom: .5rem;
    list-style: none;
}
.background-wrapper {
    display: none;
}

.btn {
    width: 100%;
}

.btn-primary {
    background-color: transparent;
    border: unset;
    margin-bottom: .3rem;
    color: rgb(18, 214, 221)!important;
    font-family: 'Raleway', sans-serif!important;
}

.btn-primary:hover,.btn-primary:active {
    background-color: #3d434d;
}

.hamburger-button {
    display: none;
}

@media screen and (max-width:768px) {

    menu {
        background-color: transparent;
        padding: 0;
        position: fixed;
        height: fit-content;
        width: 100%;
        bottom: 4.5rem;
        background-color: #171a1d;
    }

    menu::after {
        display: none;
    }

    .hamburger-button {
        position: absolute;
        display: block;
        width: fit-content;
        height: fit-content;
        right: 0;
        padding: .5rem 1rem .5rem 1rem;
        color: white;
        margin-bottom: 2rem;
        margin-right: 2rem;
        background-color: #3d434d;
        border: unset;
        border-radius: .5rem;
    }
    


    .menu-wrapper {
        display: none;
    }

    .open {
        height: 100%;
        top:0;
        background-color:rgba(23, 26, 29, .7);
        overflow-y: auto;
    }

    .open > .hamburger-button {
        bottom: 0;
        margin-bottom: 2rem;
        position: fixed;
    }

    .open > .menu-wrapper {
        display: block;
        padding: 1.5rem;
        top:0;
        background-color:rgba(23, 26, 29, 1);
    }

    .open > .background-wrapper {
        display: block;
        width: 100%;
        height: 100%;
    }

    .open .exit-button  {
        z-index: 5;
        margin-left: auto;
        margin-bottom: 1rem;
        position: relative;
        
        display: block;
        width: fit-content;
        height: fit-content;
        right: 0;
        padding: .5rem 1rem .5rem 1rem;
        color: white;
        background-color: #3d434d;
        border: unset;
        border-radius: .5rem;
    }




}