<a class="btn btn-primary mb-4" *ngIf="isFirstSection" [routerLink]="returnToPreviousPageRoute">Back</a>
<h2 class="text-start mb-5" *ngIf="isFirstSection">{{title}} Management</h2>

<h3 class="text-start">{{title}}</h3>
<div class="container">
    <div class="row text-end mb-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort by {{selectedPropertyName !== ""? '(' + selectedPropertyName + ')': ''}}
            </button>
            <button class="btn btn-primary" (click)="addItem()">
                <p>Add</p>
            </button>
            <ul class="dropdown-menu" #sortByList>
                <li *ngFor="let propertyName of propertyNames let idx=index" (click)="selectSortBy(idx, propertyName)">
                    <a class="dropdown-item">
                        {{propertyName}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-4 g-1">
        <div [class]="'col-'+category.ratio" *ngFor="let category of categories"><div>{{category.name}}</div></div>
    </div>
    <div class="row">
        <hr>
    </div>

    <admin-dataitem
    [adminDataService]="adminDataService"
    [relativeEditPageRoute]="relativeEditPageRoute"
    [categories]="categories"
    [dummyData]="dummyData"
    [dataList]="dataList"
    ></admin-dataitem>
    
    <div class="row">
        <hr>
    </div>

    <nav class="d-block" *ngIf="springBuiltInPage">
        <ul class="m-auto pagination" style="width: fit-content;">
            <li class="page-item"><a class="page-link" [ngClass]="{disabled: springBuiltInPage.first}" (click)="previousPage()">Previous</a></li>
            <li class="page-item" 
                *ngFor="let pageNumber of totalPages"
                (click)="changePage(pageNumber)"
            >
                    <a class="page-link" [ngClass]="{active: pageNumber === springBuiltInPage.number}">{{pageNumber}}</a>
            </li>
            <li class="page-item"><a class="page-link" [ngClass]="{disabled: springBuiltInPage.last}" (click)="nextPage()" >Next</a></li>
        </ul>
    </nav>

    <nav class="d-block" *ngIf="customPage">
        <ul class="m-auto pagination" style="width: fit-content;">
            <li class="page-item"><a class="page-link" [ngClass]="{disabled: customPage.firstPage}" (click)="previousCustomPage()">Previous</a></li>
            <li class="page-item" 
                *ngFor="let pageNumber of totalPages"
                (click)="changePage(pageNumber)"
            >
                    <a class="page-link" [ngClass]="{active: pageNumber === customPage.currentPage}">{{pageNumber}}</a>
            </li>
            <li class="page-item"><a class="page-link" [ngClass]="{disabled: customPage.lastPage}" (click)="nextCustomPage()" >Next</a></li>
        </ul>
    </nav>
</div>