<div class="row g-1 pb-2 text-start" *ngFor="let about of aboutList" (click)="routeToEditPage(about.id)">
    <div class="col-3"><div><p>{{about.id | slice : 0: 5}}...</p></div></div>
    <div class="col-4"><div><p>{{about.updated}}</p></div></div>
    <div class="col-4"><div><p>{{about.uploaded}}</p></div></div>
    <div class="col-1">
        <div>
            <label>
                <input type="checkbox" [checked]="about.active">
                <span class="greenmark"></span>
            </label>
        </div>
    </div>
</div>