<div class="row g-1 pb-2 text-start" *ngFor="let i of [false,false,true,false,false,false]" (click)="routeToEditPage()">
    <div class="col-3"><div><p>9wedwda</p></div></div>
    <div class="col-4"><div><p>{{dummyDate}}</p></div></div>
    <div class="col-4"><div><p>{{dummyDate}}</p></div></div>
    <div class="col-1">
        <div>
            <label>
                <input type="checkbox" [checked]="i">
                <span class="greenmark"></span>
            </label>
        </div>
    </div>
</div>