<div class="container">
  <a class="btn btn-primary mb-4" routerLink="../">Back</a>
  <h2 class="text-start mb-4">View message</h2>
  <div class="board-wrapper">

    <p class="text-start block-highlight">id: {{contact.id}}</p>

    <p class="text-start font-highlight">Subject</p>
    <p class="text-start d">
      {{contact.subject}}
    </p>

    <p class="text-start font-highlight">Content Body</p>
    <p class="text-start">
      {{contact.content}}
    </p>
    <div class="date-form mb-5">
      <p class="block-highlight">Uploaded</p>
      <p class="block-highlight">{{contact.uploaded}}</p>
    </div>
    <div></div>
    <button class="btn btn-danger" (click)="deleteContactMessage()">Delete</button>

  </div>
</div>



<button #deleteModalButton type="button" class="modal-button" data-bs-toggle="modal"
  data-bs-target="#contactMessageDeleteModel"></button>

<div class="modal fade" id="contactMessageDeleteModel" tabindex="-1" aria-labelledby="contactMessageDeleteModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contactMessageDeleteModelLabel">Warning</h1>
        <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-start">Your data will be removed permanently.</p>
        <p class="text-start">Do you agree with the permanent removal of your data?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitDelete()">Yes</button>
      </div>
    </div>
  </div>
</div>