<a class="btn btn-primary mb-4" routerLink="../">Back</a>
<h2 class="text-start mb-5">About Me Management</h2>

<h3 class="text-start">"About Me" List</h3>
<div class="container">
    <div class="row text-end mb-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort by {{selectedPropertyName !== ""? '(' + selectedPropertyName + ')': ''}}
            </button>
            <ul class="dropdown-menu" #sortByList>
                <li *ngFor="let propertyName of propertyNames let idx=index" (click)="selectSortBy(idx, propertyName)">
                    <a class="dropdown-item">
                        {{propertyName}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-4 g-1">
        <div class="col-3"><div>Id</div></div>
        <div class="col-4"><div>Updated</div></div>
        <div class="col-4"><div>Uploaded</div></div>
        <div class="col-1"><div>Active</div></div>
    </div>
    <div class="row">
        <hr>
    </div>

    <admin-about-list-item></admin-about-list-item>
    
    <div class="row">
        <hr>
    </div>
</div>
<admin-about-certification-list></admin-about-certification-list>