<div class="d-flex mb-3">
    <h2>Category 2</h2>
    <div>
        <button class="add-button" [hidden]="!skillSetAdminService.selectedFirstCategoryId" (click)="addCategory()">
            <fa-icon [icon]="faCirclePlus" />
        </button>
        <button class="edit-toggle" (click)="toggleEditMode()">
            <fa-icon [icon]="toggleEditIcon"></fa-icon>
        </button>
    </div>
</div>
<div class="d-flex">
    <button [class]="{btn:true, 'btn-primary':true, selected:secondCategory.id=== skillSetAdminService.selectedSecondCategoryId}" [id]="secondCategory.id"
        *ngFor="let secondCategory of secondCategories let idx=index" type="button"
        (click)="selectOrEditOrDeleteCategory(idx,secondCategory.id)">{{secondCategory.name}}
        <div *ngIf="toggleEditIcon === deleteIcon" class="delete-icon-wrapper"><fa-icon [icon]="minusIcon"
                [style]="{'color':'white'}" /></div>
    </button>
    <button #offCanvas2Button type="button" data-bs-toggle="offcanvas" data-bs-target="#editsecondcategory"
        aria-controls="editsecondcategory" hidden></button>
</div>



<div class="offcanvas offcanvas-end" tabindex="-1" id="editsecondcategory" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Edit selected category 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form #form="ngForm" (ngSubmit)="saveOrUpdateSecondCategory()">
            <div>
                <p class="text-start" *ngIf="selectedSecondCategory.id">id: {{selectedSecondCategory.id}}</p>
                <div class="input-group mb-3">
                    <span class="input-group-text">name</span>
                    <input type="text" class="form-control" placeholder="Enter the name of second category" name="name" 
                    [(ngModel)]="selectedSecondCategory.name" required>
                </div>
            </div>
            <div>
                <button class="save-button mb-3" data-bs-dismiss="offcanvas"
                    [disabled]="!form.valid">{{selectedSecondCategory.id?'Update':'Save'}}</button>
                <button class="delete-button" data-bs-dismiss="offcanvas" type="button"
                    *ngIf="selectedSecondCategory.id" (click)="deleteSecondCategory(selectedSecondCategory.id)">Delete</button>
            </div>
        </form>
    </div>
</div>