<div class="d-flex mb-3">
    <h2>Category 2</h2>
    <div>
        <button class="add-button" (click)="addCategory()">
            <fa-icon [icon]="faCirclePlus"/>
        </button>
        <button class="edit-toggle" (click)="toggleEditMode()">
            <fa-icon [icon]="toggleEditIcon"></fa-icon>
        </button>
    </div>
</div>
<div class="d-flex">
    <button class="btn btn-primary"
     [id]="category.id" 
     *ngFor="let category of secondCategory"
     type="button"
     data-bs-toggle="offcanvas"
     data-bs-target="#editsecondcategory" aria-controls="editsecondcategory">{{category.name}}</button>
</div>



<div class="offcanvas offcanvas-end" tabindex="-1" id="editsecondcategory" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Edit selected category 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p class="text-start">id: b9e4177a-12c3-11ee-be56-0242ac120002</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">name</span>
                <input type="text" class="form-control" placeholder="name"
                  aria-describedby="basic-addon2">
            </div>
        </div>
        <div>
            <button class="save-button mb-3">Update Or Save</button>
            <button class="delete-button">Delete</button>
        </div>
    </div>
</div>