.btn {
    --bs-btn-border-color:#2F8886;
    --bs-btn-bg:#2F8886;
    --bs-btn-hover-bg:#84C69B;
    --bs-btn-hover-border-color: #84C69B;
}

.d-flex:nth-child(1) {
    justify-content: space-between;
}

.d-flex:nth-child(2) {
    flex-wrap: wrap;
    gap: .7rem;
    padding-bottom: 2rem;
}


h2 {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 214, 221);
    margin-right: 1rem;
}

.add-button {
    background-color: #27374D;
    color: white;
    height: fit-content;
    padding: .1rem 1.5rem 0 1.5rem;
    border: 0;
    border-radius: .3rem;
    margin-right: 1rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
    transition: background .3s;
}

.add-button:hover {
    background-color: #9DB2BF;
    transition: background .3s;
}

.add-button fa-icon {
    display: block;
    position: relative;
    font-size: larger;
}


.edit-toggle {
    background-color: #27374D;
    color: white;
    height: fit-content;
    padding: .1rem 1.5rem 0 1.5rem;
    border: 0;
    border-radius: .3rem;
    margin-right: 1rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
    transition: background .3s;
}

.edit-toggle fa-icon {
    display: block;
    position: relative;
    font-size: larger;
}

.edit-toggle:hover {
    background-color: #9DB2BF;
    transition: background .3s;
}

p {
    color: white;
    width: fit-content;
    padding: 0.5rem;
    background-color: #2F8886;
    border-radius: 0.375rem;
}


.save-button{
    width: 100%;
    background-color: #34cf7a;
    border: 0;
    padding: .5rem;
    border-radius: .3rem;
    color: white;
    transition: background .3s;
}

.save-button:hover{
    background-color: #9ce4bc;
    transition: background .3s;
}

.delete-button{
    width: 100%;
    background-color: #e64f70;
    border: 0;
    padding: .5rem;
    border-radius: .3rem;
    color: white;
    transition: background .3s;
}

.delete-button:hover{
    background-color: #d393a1;
    transition: background .3s;
}

.offcanvas-body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}