<nav class="navbar navbar-expand-md bg-body-tertiary position-fixed w-100 z-3" #navigationBar>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JUNHO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse d-xxl-flex navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let view of views">
          <a class="nav-link" [ngClass]="{'custom-active': view === currentView, 'custom-disabled': view !== currentView}" (click)="onChangeView(view)">
            <!-- {{view.toUpperCase()}}
            {{currentView}} -->
            {{view}}
          </a>
        </li>
      </ul>
      
      <div>
        <input type="checkbox" class="checkbox" id="checkbox" name="nightMode" [(ngModel)]="isDarkMode" (ngModelChange)="onChangeDarkMode()">
        <label for="checkbox" class="checkbox-label">
          <fa-icon [icon]="moonIcon" style="color: yellow;"></fa-icon>
          <fa-icon [icon]="sunIcon" style="color: orangered;"></fa-icon>
          <span class="ball"></span>
        </label>
      </div>
    </div>


  </div>
</nav>