<a class="btn btn-primary mb-4" routerLink="../">Back</a>
<h3 class="text-start mb-5">Introductions</h3>
<div class="container">
    <div class="row text-end mb-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle me-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort by {{selectedPropertyName !== ""? '(' + selectedPropertyName + ')': ''}}
            </button>
            <button class="btn btn-primary" (click)="addItem()">
                <p>Add</p>
            </button>
            <ul class="dropdown-menu" #sortByList>
                <li *ngFor="let propertyName of propertyNames let idx=index" (click)="selectSortBy(idx, propertyName)">
                    <a class="dropdown-item">
                        {{propertyName}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-4 g-1">
        <div class="col-1"><div>Id</div></div>
        <div class="col-2"><div>Say Hi</div></div>
        <div class="col-2"><div>Name</div></div>
        <div class="col-6"><div>Opening</div></div>
        <div class="col-1"><div>Active</div></div>
    </div>
    <div class="row">
        <hr>
    </div>
    <admin-intro-list-item [items]="introList"></admin-intro-list-item>
</div>

