.container{
    padding: 5rem 0;
}

.page-link {
    cursor: pointer;
}


.active {
    z-index: 0;
}


.custom-bright-mode .page-link.active{
    background-color:#E8E8E8;
}

.custom-bright-mode .page-link{
    background-color:#BBBFCA;
    color: black;
    border: none;
}

.custom-bright-mode .pagination {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.custom-dark-mode .page-link.active{
    background-color:#84C69B;
}

.custom-dark-mode .page-link{
    background-color:#2F8886;
    color: white;
    border: none;
}