

<div class="container">
    <h2 class="mb-4">Skill Set & Relavant Projects</h2>
    <app-category></app-category>
    <app-platform></app-platform>
</div>

<hr>

<div class="container">
    <div class="row gx-2 gy-3 mb-3">
        <div class="col-md-4">
            <app-skill-item></app-skill-item>
        </div>
        <div class="col-md-4">
            <app-skill-item></app-skill-item>
        </div>
        <div class="col-md-4">
            <app-skill-item></app-skill-item>
        </div>
        <div class="col-md-4">
            <app-skill-item></app-skill-item>
        </div>
        <div class="col-md-4">
            <app-skill-item></app-skill-item>
        </div>
        <div class="col-md-4">
            <app-skill-item></app-skill-item>
        </div>
    </div>

</div>