<div class="row col-8 mb-5">
    <h3 class="fs-5">Platform</h3>
    <div class="btn-group" role="group" aria-label="platform">
        <input type="radio" class="btn-check" name="plaformRadio" id="web" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="web">Web</label>

        <input type="radio" class="btn-check" name="plaformRadio" id="android" autocomplete="off">
        <label class="btn btn-outline-primary" for="android">Android</label>

        <input type="radio" class="btn-check" name="plaformRadio" id="desktop" autocomplete="off">
        <label class="btn btn-outline-primary" for="desktop">Desktop</label>
    </div>
</div>