<div class="notification-view-background" *ngIf="isDisplayed" (click)="emitCloseNotificationViewEvent()"></div>
<div class="notification-view" *ngIf="isDisplayed">
    <div class="notification-header mb-5">
        <h2>This is Subject</h2>
        <button type="button" (click)="emitCloseNotificationViewEvent()"><fa-icon [icon]="exitIcon" class="fab fa-angular fa-fw fa"/></button>
    </div>
    <div class="image mb-5" *ngIf="!selectedNotification.videoUrl"  [style]="{'background-image': generateUrlBackgroundString(selectedNotification.imageUrl)}"></div>
    <iframe class="mb-5" allowfullscreen allow="fullscreen; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0" *ngIf="selectedNotification.videoUrl" [src]="selectedNotification.videoUrl+'?playsinline=1' | safe"></iframe>


    <p>{{selectedNotification.body}}</p>
</div>