<div class="container">
    <a class="btn btn-primary mb-5" routerLink="../">Back</a>
    <h3 class="text-start mb-4" >Projects</h3>
    <div class="row text-end text-start mb-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle me-2" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sort by {{selectedPropertyName !== ""? '(' + selectedPropertyName + ')': ''}}
            </button>
            <button class="btn btn-primary" (click)="addItem()">
                <p>Add</p>
            </button>
            <ul class="dropdown-menu" #sortByList>
                <li *ngFor="let propertyName of propertyNames let idx=index" (click)="selectSortBy(idx, propertyName)">
                    <a class="dropdown-item">
                        {{propertyName}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-4 g-1">
        <div class="col-6">
            <div>Project Name</div>
        </div>
        <div class="col-6">
            <div>url</div>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <admin-project-list-item [projects]="projects"></admin-project-list-item>
    <div class="row">
        <hr>
    </div>

    <nav class="d-block">
        <ul class="m-auto pagination" style="width: fit-content;">
            <li class="page-item"><a class="page-link" [ngClass]="{disabled: isFirstPage}" (click)="previousPage()">Previous</a></li>
            <li class="page-item" 
                *ngFor="let pageNumber of totalPages"
                (click)="changePage(pageNumber)"
            >
                    <a class="page-link" [ngClass]="{active: pageNumber === currentPageNumber}">{{pageNumber}}</a>
            </li>
            <li class="page-item"><a class="page-link" [ngClass]="{disabled: isLastPage}" (click)="nextPage()" >Next</a></li>
        </ul>
    </nav>
</div>