<div class="card p-5 mb-4 border border-primary border-2" style="
background-image: url('https://user-images.githubusercontent.com/72008909/207324501-1b2575ce-ae42-463d-9a87-cf5e4310eb9b.png');
background-position: center center; 
background-size: cover;">
    <div class="z-0 position-absolute w-100 h-100 top-0 start-0 card bg-dark bg-opacity-75"></div>
    <div class="z-1 p-2">
        <div class="col-md-7 m-auto text-center">
            <h4 class="card-title text-white mb-3">Fish Raising Game</h4>
            <a class="btn btn-sm btn-dark">View Detail</a>
        </div>
    </div>
</div>