<app-navigation-bar></app-navigation-bar>
<div class="container-md">
    <app-intro #appIntro id="Introduction"></app-intro>
    <app-about-me #appAboutMe id="About-Me"></app-about-me>
    <app-experience #appExperience id="Experience"></app-experience>
    <app-skill-set #appSkillSet id="Skill-Set & Relevant Projects"></app-skill-set>
    <app-project #appProject id="Project"></app-project>
    <app-contact #appContact id="Contact"></app-contact>
</div>
<app-footer></app-footer>
<app-notification></app-notification>
<app-popup></app-popup>