<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a class="home-button" routerLink="/">Go back home</a>
            <h2>Log in</h2>
            <p class="mb-4">Enter your credentials to access admin page.</p>
            <p class="mb-2">Email address</p>
            <input class="mb-4 login-info" type="text">
            <p class="mb-2">Password</p>
            <input class="mb-max login-info" type="password">

            <div class="button-wrapper">
                <button type="button">Login</button>
            </div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>