.container {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

a.btn {
    display: block;
    width: fit-content;
    margin-right: auto;
    --bs-btn-border-color:#27374D;
    --bs-btn-bg:#27374D;
    --bs-btn-hover-bg:#9DB2BF;
    --bs-btn-hover-border-color: #9DB2BF;
    padding: .5rem 4rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
}
