.list-group-item{
    color:currentColor;
}

.dark-mode-list {
    background-color: #28475C;
    border-radius: 5px;
    border: 0;
}

.dark-mode-list a{
    text-decoration: none;
    color: #C07F00;
}