h2 {
    padding: 1rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
    border-radius: .375rem;
}

.container{
    padding-bottom: 6.5rem;
}

.board-wrapper{
    position: relative;
    background-color: #28475C;
    padding: 5rem;
    border-radius: 0.375rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
}

p {
    
    width: fit-content;
    padding: 0.5rem;
    background-color: #2F8886;
    border-radius: 0.375rem;
}

.form-check{
    width: fit-content;
    margin: auto;
}

.form-check-input:checked {
    background-color: #2F8886;
    border-color: #2F8886;
}

textarea {
    min-height: 15rem;
}

textarea:focus {
    border-color: #2F8886;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #2F8886;
    outline: 0 none;
}

input:focus {
    border-color: #2F8886;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #2F8886;
    outline: 0 none;
}

.date-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.date-form p {
    margin-left: auto;
    margin-bottom: 0.3rem;
}

.btn.btn-primary {
    width: 100%;
    --bs-btn-border-color:#38E54D;
    --bs-btn-bg:#38E54D;
    --bs-btn-hover-bg:#9CFF2E;
    --bs-btn-hover-border-color: #9CFF2E;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
}

a.btn.btn-primary {
    display: block;
    width: fit-content;
    margin-right: auto;
    --bs-btn-border-color:#27374D;
    --bs-btn-bg:#27374D;
    --bs-btn-hover-bg:#9DB2BF;
    --bs-btn-hover-border-color: #9DB2BF;
    padding: .5rem 4rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
}

.btn.btn-danger {
    display: block;
    width: 100%;
    --bs-btn-border-color:#ED2B2A;
    --bs-btn-bg:#ED2B2A;
    --bs-btn-hover-bg:#F15A59;
    --bs-btn-hover-border-color: #F15A59;
    padding: .5rem 4rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .7);
}


.date-form p:first-child{
    background-color: #1F6E8C;
}

.modal-header h1 {
    color: black;
}

.modal-header button {
    display: none;
}

.modal-button{
    display: none;
}


.modal-body p {
    width: auto;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    border-radius: 0;
}

.fa-icon {
    display: inline-block;
    transform: rotate(-45deg);
}

.icon-description {
    display: inline-block!important;
    width: fit-content;
    padding: 0;
    background-color: #28475C;
    border-radius: 0;
    margin-right: 1rem;
}

.icon-wrapper {
    display: inline-block;
    padding: 0.5rem;
    background-color: #1F6E8C;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

form {
    position: relative;
}


.attachment-form {
    /* position: relative; */
    cursor: pointer;
    /* width: fit-content; */
    
}

.attachment-form:after {
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    background-color: #2e868485;
    content: "";
}