<div class="container">
    <a class="btn btn-primary mb-4" routerLink="../">Back</a>
    <h2 class="text-start mb-4">Edit About</h2>
    <div class="board-wrapper">
        <form (ngSubmit)="submitForm()" #form="ngForm">
            <p class="text-start" *ngIf="about.id">id: {{about.id}}</p>

            <div class="form-floating text-black mb-3">
                <textarea class="form-control" 
                  placeholder="Leave a comment here"
                  id="floatingTextarea" 
                  name="description" 
                  [(ngModel)]="about.description"
                  #description = "ngModel"
                  required></textarea>
                <label for="floatingTextarea">Description</label>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >Period</span>
                <input type="text" 
                  class="form-control" 
                  placeholder="Period" 
                  name="period" 
                  #period = "ngModel"
                  [(ngModel)]="about.period"
                  required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" 
                  class="form-control" 
                  placeholder="Name" 
                  name="name"
                  [(ngModel)]="about.name"
                  #name = "ngModel"
                  required
                  maxlength="200">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">School</span>
                <input type="text" 
                  class="form-control" 
                  placeholder="School" 
                  name="school" 
                  #school = "ngModel"
                  [(ngModel)]="about.school"
                  required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">diploma</span>
                <input type="text" 
                  class="form-control" 
                  placeholder="diploma" 
                  name="diploma" 
                  [(ngModel)]="about.diploma"
                  required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Region/Country</span>
                <input type="text" 
                  class="form-control" 
                  placeholder="Region/Country" 
                  name="region-country" 
                  #regionCountry = "ngModel"
                  [(ngModel)]="about.regionCountry"
                  required>
            </div>

            <div class="form-check form-switch mb-5">
                <input #activated 
                  class="form-check-input" 
                  name="actviated" 
                  [(ngModel)]="about.active" 
                  (change)="activateAboutMe()" 
                  value="true" 
                  type="checkbox" 
                  role="switch" 
                  id="activateAboutSwitch">
                <label class="form-check-label" for="activateAboutSwitch">Activate this "About Me"</label>
            </div>

            <div class="d-flex mb-5 attachment-box">
                <div class="attachment-form">
                    <div class="attachment-background" (click)="faceImageUpload.click()">
                      <p class="attachment-type">Face Image</p>
                      <input type="file" name="faceImage" id="faceImage"  (change)="setAttachment($event)" #faceImageUpload hidden>
                      <p class="icon-description">Click to upload your face Image</p>
                      <p *ngIf="isFaceImageNotPermitted" class="warning">(Not permitted type!)</p>
                      <div class="icon-wrapper mt-4">
                          <fa-icon class="fa-icon" [icon]="faPaperclip"></fa-icon>
                      </div>
                    </div>
                    <button *ngIf="about.id" (click)="reviewFile('faceImagePath')" type="button" class="file-viewer-button mt-2">Review this file</button>
                </div>
    
                <div class="attachment-form">
                    <div class="attachment-background" (click)="diplomaUpload.click()">
                      <p class="attachment-type">Diploma</p>
                      <input type="file" name="diploma" id="diploma" (change)="setAttachment($event)" #diplomaUpload hidden>
                      <p class="icon-description">Click to upload your diploma</p>
                      <p *ngIf="isDiplomaNotPermitted" class="warning">(Not permitted type!)</p>
                      <div class="icon-wrapper mt-4">
                          <fa-icon class="fa-icon" [icon]="faPaperclip"></fa-icon>
                      </div>
                    </div>
                    <button *ngIf="about.id" (click)="reviewFile('diplomaUrl')" type="button" class="file-viewer-button mt-2">Review this file</button>
                </div>
    
                <div class="attachment-form">
                    <div class="attachment-background" (click)="transcriptUpload.click()">
                      <p class="attachment-type">Transcript</p>
                      <input type="file" name="transcript" id="transcript" (change)="setAttachment($event)" #transcriptUpload hidden>
                      <p class="icon-description">Click to upload your transcript</p>
                      <p *ngIf="isTranscriptNotPermitted" class="warning">(Not permitted type!)</p>
                      <div class="icon-wrapper mt-4">
                          <fa-icon class="fa-icon" [icon]="faPaperclip"></fa-icon>
                      </div>
                    </div>
                    <button *ngIf="about.id" (click)="reviewFile('transcriptUrl')" type="button" class="file-viewer-button mt-2">Review this file</button>
                </div>

            </div>


            <div *ngIf="about.updated" class="date-form mb-3">
                <p>Updated</p>
                <p>{{about.updated}}</p>
            </div>
            <div *ngIf="about.uploaded" class="date-form mb-5">
                <p>Uploaded</p>
                <p>{{about.uploaded}}</p>
            </div>
            <div></div>
            <button class="btn btn-primary mb-4"
              [disabled]="!faceImage || !transcript || !diploma || !form.valid"
              type="submit">{{about.id? 'Update':'Save'}}</button>
            <button class="btn btn-danger" type="button" (click)="deleteAboutMe()">Delete</button>
        </form>
    </div>
</div>

<button #modalButton type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#aboutActivationModal"></button>

<div (click)="closeModal()" class="modal fade" id="aboutActivationModal" tabindex="-1" aria-labelledby="aboutActivationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="aboutActivationModalLabel">Warning</h1>
          <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-start">Do you really want to activate this "About Me"?</p>
          <p class="text-start">Warning, Other "About Me" will be deactivated!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="cancelActivation()" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmActivation()">Confirm activating this "About Me"</button>
        </div>
      </div>
    </div>
  </div>


  <button #deleteModalButton type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#aboutDeleteModal"></button>

  <div class="modal fade" id="aboutDeleteModal" tabindex="-1" aria-labelledby="aboutDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="aboutDeleteModalLabel">Warning</h1>
          <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-start">Your data will be removed permanently.</p>
          <p class="text-start">Do you agree with the permanent removal of your data?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitDelete()">Yes</button>
        </div>
      </div>
    </div>
  </div>