<div class="container">
    <div class="row">
        <div class="col">
            <h2>About me</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <p [innerHTML]="about.description | replace: '\n' : '\<br\>'">
                
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img class="rounded mx-auto img-thumbnail img-fluid"
                src="https://media.istockphoto.com/id/1090878494/photo/close-up-portrait-of-young-smiling-handsome-man-in-blue-polo-shirt-isolated-on-gray-background.jpg?s=612x612&w=0&k=20&c=AycQ2obu8sgJxWAJgYBbYR6jeRB9Bhs1JZBXzSgL6LE="
                alt="face-image">

            <div class="row mb-3">
                <table class="table">
                    <tbody>
                        <tr scope="row">
                            <th>Name</th>
                            <td>{{about.name}}</td>
                        </tr>
                        <tr scope="row">
                            <th>School</th>
                            <td>{{about.school}}</td>
                        </tr>
                        <tr scope="row">
                            <th>Diploma</th>
                            <td>{{about.diploma}}</td>
                        </tr>
                        <tr scope="row">
                            <th>Period</th>
                            <td>{{about.period}}</td>
                        </tr>
                        <tr scope="row">
                            <th>Region / Country</th>
                            <td>{{about.regionCountry}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3>Cerficiation List</h3>
                <div class="list-group">
                    <app-certification-item [certification]="certification" *ngFor="let certification of about.certifications"></app-certification-item>
                
                </div>
            </div>
        </div>
    </div>
</div>