<div class="row g-1 pb-2 text-start" *ngFor="let notification of notifications" (click)="routeToEditPage(notification.id)">
    <div class="col-6"><div><p>{{notification.subject}}</p></div></div>
    <div class="col-2">
        <div>
            <label>
                <input type="checkbox" [checked]="notification.active">
                <span class="greenmark"></span>
            </label>
        </div>
    </div>
    <div class="col-2">
        <div>
            <label>
                <input type="checkbox" [checked]="notification.displayed">
                <span class="greenmark"></span>
            </label>
        </div>
    </div>
    <div class="col-2"><div><p>{{notification.uploaded}}</p></div></div>
</div>