<div class="d-flex mb-3">
    <h2>Skill Set</h2>
    <div>
        <button class="add-button" [hidden]="!skillSetAdminService.selectedSecondCategoryId" (click)="addCategory()">
            <fa-icon [icon]="faCirclePlus"/>
        </button>
        <button class="edit-toggle" (click)="toggleEditMode()">
            <fa-icon [icon]="toggleEditIcon"></fa-icon>
        </button>
    </div>
</div>
<hr>
<div class="d-flex">
    <a [class]="{btn:true, 'btn-primary':true, selected:skillSetItem.id === skillSetAdminService.selectedSkillSetItemId}"
     [id]="skillSetItem.id" 
     *ngFor="let skillSetItem of skillSetItems let idx=index"
     type="button"
     (click)="selectOrEditCategory(idx, skillSetItem.id)">{{skillSetItem.title}}</a>
</div>


