<div class="container">
    <div class="row mb-4">
        <h2 class="mb-3">Contact Me!</h2>
        <div class="col-md-6">
            <div class="row mb-3">
                <label class="fw-bold">Your email</label>
                <input class="form-control" type="text">
            </div>
            <div class="row mb-3">
                <label class="fw-bold">Subject</label>
                <input class="form-control" type="text">
            </div>
            <div class="row mb-3">
                <label class="fw-bold">Content</label>
                <textarea rows="4" class="form-control" type="text"></textarea>
            </div>
        </div>
        <div class="col-md-6 my-auto">
            <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
</div>