.container{
    padding: 5rem 0;
}

span{
    font-size: small;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


.cursor-not-allowed {
    cursor: not-allowed !important; 
    pointer-events:all !important;
}

.custom-dark-mode .modal-content{
    background-color: #222831;
}

.custom-dark-mode button{
    border-radius: 7px;
    background-color: #2F8886;
    border: none;
}

.custom-dark-mode button:hover{
    background-color: #84C69B;
}

.custom-bright-mode button{
    border-radius: 7px;
    background-color: #BBBFCA;
    border: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    color: currentColor;
}

.custom-bright-mode .modal-content{
    background-color: #E8E8E8;
}


.custom-bright-mode button:hover{
    background-color: #E8E8E8;
}

img {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

button[data-bs-toggle= 'modal'] {
    display: none;
}

#failedResult button {
    background-color: #F55050;
}