<div class="container">
    <a class="btn btn-primary mb-4" routerLink="../">Back</a>
    <h2 class="text-start mb-4">Edit Introduction</h2>
    <div class="board-wrapper">
        <form>
            <p class="text-start">id: 5258b3c4-0e3e-11ee-be56-0242ac120002</p>
            <div class="input-group mb-3">
                <span class="input-group-text" [id]="'basic-addon1'">Say Hi</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Name</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
            </div>

            <div class="form-floating text-black mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comments</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Activate this introduction</label>
              </div>
            <div class="date-form mb-3">
                <p>Updated</p>
                <p>Fri Jul 02 2021 12:44:45 GMT+0100</p>
            </div>
            <div class="date-form mb-5">
                <p>Uploaded</p>
                <p>Fri Jul 02 2021 12:44:45 GMT+0100</p>
            </div>
            <button class="btn btn-primary">Update</button>
        </form>
    </div>
</div>