<div class="container">
    <a class="btn btn-primary mb-4" routerLink="../">Back</a>
    <h2 class="text-start mb-4">Edit Introduction</h2>
    <div class="board-wrapper">
        <form>
            <p class="text-start">id: 5258b3c4-0e3e-11ee-be56-0242ac120002</p>
            <div class="input-group mb-3">
                <span class="input-group-text" [id]="'basic-addon1'">Say Hi</span>
                <input type="text" class="form-control" placeholder="Say Hi" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Name</span>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon2">
            </div>

            <div class="form-floating text-black mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comments</label>
            </div>
            <div class="form-check form-switch">
                <input #activated class="form-check-input" name="actviated" [(ngModel)]="isActivated" (change)="activateIntroduction()" value="true" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Activate this introduction</label>
              </div>
            <div class="date-form mb-3">
                <p>Updated</p>
                <p>Fri Jul 02 2021 12:44:45 GMT+0100</p>
            </div>
            <div class="date-form mb-5">
                <p>Uploaded</p>
                <p>Fri Jul 02 2021 12:44:45 GMT+0100</p>
            </div>
            <button class="btn btn-primary mb-4">Update</button>
            <button class="btn btn-danger" (click)="deleteIntroduction()">Delete</button>
        </form>
    </div>
</div>

<button #modalButton type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

<div (click)="closeModal()" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
          <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-start">Do you really want to activate this introduction?</p>
          <p class="text-start">Warning, Other introductions will be deactivated!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="cancelActivation()" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmActivation()">Confirm activating this introduction</button>
        </div>
      </div>
    </div>
  </div>


  <button #deleteModalButton type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal2"></button>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel2">Warning</h1>
          <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-start">Your data will be removed permanently.</p>
          <p class="text-start">Do you agree with the permanent removal of your data?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="submitDelete()">Yes</button>
        </div>
      </div>
    </div>
  </div>