<div class="container">
  <a class="btn btn-primary mb-4" routerLink="../">Back</a>
  <h2 class="text-start mb-4">Edit Experience</h2>
  <div class="board-wrapper">
    <form (ngSubmit)="submitForm()" #form="ngForm">
      <p class="text-start" *ngIf="experience.id">id: {{experience.id}}</p>

      <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <input type="text" 
          class="form-control" 
          name="title" 
          placeholder="Title" 
          [(ngModel)]="experience.title"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Company</span>
        <input type="text" 
          class="form-control" 
          name="company" 
          placeholder="Company" 
          autocomplete="additional-name"
          [(ngModel)]="experience.company"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Period</span>
        <input type="text" 
          class="form-control" 
          name="period" 
          placeholder="Period"
          [(ngModel)]="experience.workingPeriod"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Position</span>
        <input type="text" 
          class="form-control" 
          name="position" 
          placeholder="Position"
          [(ngModel)]="experience.positionName"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Status</span>
        <input type="text" 
          class="form-control" 
          name="status" 
          placeholder="Status"
          [(ngModel)]="experience.status"
          required>
      </div>

      

      <div class="form-floating text-black mb-3">
        <textarea class="form-control" 
          placeholder="Leave a comment here" 
          id="ExperienceDescriptionTextArea"
          name="description"
          [(ngModel)]="experience.description"
          required></textarea>
        <label for="ExperienceDescriptionTextArea">Description</label>
      </div>



      <div class="d-flex attachment-box">
        <div class="attachment-form" (click)="experienceImageUpload.click()">
          <div class="attachment-background">
            <p class="attachment-type">Experience Image</p>
            <input type="file" name="experienceImage" id="experienceImage" (change)="setAttachment($event)" #experienceImageUpload hidden>
            <p class="icon-description">Click to upload your Experience image</p>
            <p *ngIf="isExperienceNotPermitted" class="warning">(Not permitted type!)</p>
            <div class="icon-wrapper">
              <fa-icon class="fa-icon" [icon]="faPaperclip"></fa-icon>
            </div>
          </div>
        </div>
        
      </div>
      <div class="file-viewer-button" *ngIf="experience.id" (click)="reviewFile('imgPath')">
        <button type="button">Review this file</button>
      </div>


      <div class="date-form mt-5" *ngIf="experience.updated">
        <p>Updated</p>
        <p>{{experience.updated}}</p>
      </div>
      <div class="date-form mt-3" *ngIf="experience.uploaded">
        <p>Uploaded</p>
        <p>{{experience.uploaded}}</p>
      </div>
      <div></div>
      <button class="btn btn-primary mt-5 mb-4"
      [disabled]="!experienceImage ||!form.valid" >{{experience.id? 'Update':'Save'}}</button>
      <button class="btn btn-danger" type="button" (click)="deleteExperience()">Delete</button>
    </form>
  </div>
</div>


<button #deleteModalButton type="button" class="modal-button" data-bs-toggle="modal"
  data-bs-target="#experienceDeleteModel"></button>

<div class="modal fade" id="experienceDeleteModel" tabindex="-1" aria-labelledby="experienceDeleteModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="experienceDeleteModelLabel">Warning</h1>
        <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-start">Your data will be removed permanently.</p>
        <p class="text-start">Do you agree with the permanent removal of your data?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitDeleteExperience()">Yes</button>
      </div>
    </div>
  </div>
</div>