.row > div:nth-child(1) > div {
    background-color: rgba(127, 233, 162,.5);
}

.row > div:nth-child(2) > div {
    background-color: rgba(73, 167, 159, .5);
}

.row > div:nth-child(3) > div {
    background-color: rgba(36, 157, 212,.5);
}

.row > div:nth-child(4) > div {
    background-color: rgb(47, 100, 168,.5);
}

.row div div {
    text-indent: .5rem;
}

.row:hover::after{
    position: absolute;
    width: 100%;
    height: 87%;
    border:2px dashed rgba(127, 233, 162,.5);
    content: "";
    opacity: 100%;
}

.row::after {
    content: "";
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 87%;
    border:2px dashed rgba(127, 233, 162,.5);
    transition: .5s all; 
}

.row {
    position: relative;
    font-size:small;
    cursor: pointer;
}

hr {
    border-width: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}