<div class="row g-1 pb-2 text-start" *ngFor="let i of [0,0,0,0,0,0]" (click)="routeToEditPage()">
    <div class="col-1"><div><p>8ad</p></div></div>
    <div class="col-2"><div><p>Say Hi Data</p></div></div>
    <div class="col-2"><div><p>Name Data</p></div></div>
    <div class="col-6"><div><p>Opening Data</p></div></div>
    <div class="col-1">
        <div>
            <label>
                <input type="checkbox" checked>
                <span class="greenmark"></span>
            </label>
        </div>
    </div>
</div>