/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Georama', sans-serif;
}

.background-dark {
    background-color: #222831;

}

.background-bright {
    background-color: #F5F5F5;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3a3939;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}