<div class="row col-5">
    <h3 class="fs-5">Category</h3>
    <div class="btn-group" role="group" aria-label="category">
        <input type="radio" class="btn-check" name="categoryRadio" id="frontend" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="frontend">Frontend</label>

        <input type="radio" class="btn-check" name="categoryRadio" id="backend" autocomplete="off">
        <label class="btn btn-outline-primary" for="backend">Backend</label>
    </div>
</div>