<div class="row col-8 mb-5">
    <h3 class="fs-5">Platform</h3>
    <div  class="btn-group" role="group" aria-label="platform">
        <label *ngFor="let platform of platforms" class="btn btn-outline-primary" [ngClass]="{'active': selectedPlatform === platform}"  [for]="platform">
            {{platform}}
            <input (click)="onSelectPlatform(platform)" [value]="platform" type="radio" class="btn-check" [name]="platform" [id]="platform" autocomplete="off" [(ngModel)]="selectedPlatform">
        </label>
    </div>
</div>