<div class="container">
    <a class="btn btn-primary mb-4" routerLink="../">Back</a>
    <h2 class="text-start mb-4">Edit Notification</h2>
    <div class="board-wrapper">
        <form>
            <p class="text-start block-highlight">id: 5258b3c4-0e3e-11ee-be56-0242ac120002</p>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Subject</span>
                <input type="text" class="form-control" placeholder="Subject" aria-label="Username" aria-describedby="basic-addon2">
            </div>
            
            <div class="form-floating text-black mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Body</label>
            </div>

            <div class="row mb-3 gx-1">
                <div class="col">
                    <div class="font-highlight checkbox-flex">
                        <div class="checkbox-wrapper">
                            <label>
                                <input type="checkbox">
                                <span class="greenmark"></span>
                            </label>
                        </div>
                        <p>active</p>
                    </div>
                </div>
                <div class="col">
                    <div class="font-highlight checkbox-flex">
                        <div class="checkbox-wrapper">
                            <label>
                                <input type="checkbox">
                                <span class="greenmark"></span>
                            </label>
                        </div>
                        <p>displayed</p>
                    </div>
                </div>
    
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Video Url</span>
                <input type="text" class="form-control" placeholder="Video Url" aria-label="Username" aria-describedby="basic-addon2">
            </div>

            <div class="d-flex mb-5 attachment-box">
                <div class="attachment-form" (click)="certificationUpload.click()" #certification>
                    <input type="file" name="certification" id="certification"  (change)="setAttachment($event)" #certificationUpload hidden>
                    <p class="icon-description">Click to upload your notification image</p>
                    <div class="icon-wrapper">
                        <fa-icon class="fa-icon" [icon]="faPaperclip"></fa-icon>
                    </div>
                </div>
            </div>


            <div class="date-form mb-3">
                <p class="block-highlight">Updated</p>
                <p class="block-highlight">Fri Jul 02 2021 12:44:45 GMT+0100</p>
            </div>
            <div class="date-form mb-5">
                <p class="block-highlight">Uploaded</p>
                <p class="block-highlight">Fri Jul 02 2021 12:44:45 GMT+0100</p>
            </div>
            <div></div>
            <button class="btn btn-primary mb-4">Update & Save</button>
            <button class="btn btn-danger" (click)="deleteAboutMe()">Delete</button>
        </form>
    </div>
</div>

<button #modalButton type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>




  <button #deleteModalButton type="button" class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal2"></button>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel2">Warning</h1>
          <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-start">Your data will be removed permanently.</p>
          <p class="text-start">Do you agree with the permanent removal of your data?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="submitDelete()">Yes</button>
        </div>
      </div>
    </div>
  </div>